# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# no backup files
*~

## skip revdep
revdep/

## skip the .vscode folder with local editor stuff
.vscode/

## ignore
CRAN-SUBMISSION
/doc/
/Meta/
docs

# Apple stuff
.DS_Store

# JOSS paper stuff
paper.log
paper_cache/