language: r
cache: packages

r:
  - release
  - devel

sudo: false

addons:
  apt:
    packages:
      - qpdf

r_packages:
  - mgcv
  - testthat
  - ggplot2
  - cowplot
  - vdiffr

r_github_packages:
  - jimhester/covr

after_success:
  - Rscript -e 'covr::codecov()'

r_build_args: " --compact-vignettes=gs+qpdf"

notifications:
  email:
    on_success: change
    on_failure: always

